:host {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px;
  width: 240px;
  color: darkslategrey;
  background: rgb(164,171,255);
  background: linear-gradient(0deg, rgba(164,171,255,1) 0%, rgba(218,220,255,1) 100%);
}
