<div class="wrapper">
  <app-stats [game]="game"></app-stats>
  <app-canvas
    (blockAdd)="onBlockAdd($event)"
    (blockRemove)="onBlockRemove($event)"
    [blockName]="blockName">
  </app-canvas>
  <app-menu
    [blockName]="blockName"
    (blockTypeChange)="onBlockTypeChange($event)"></app-menu>
  <div class="date">
    <div class="wrapper">
      <p>Hour: {{game.state.date.hour}}</p>
      <p>Day: {{game.state.date.day}}</p>
      <p>Week: {{game.state.date.week}}</p>
    </div>
  </div>
</div>

