<div class="wrapper">
  <span class="current-block">Currently Selected: <b>{{blockName}}</b></span>
  <div class="block-types">
    <button (click)="onBlockTypeChange(BlockType.ROAD)">Roads</button>
    <button (click)="onBlockTypeChange(BlockType.BUILDING)">Buildings</button>
    <button>Plants</button>
  </div>
  <div class="block-menu">
    <ng-container *ngIf="blockType === BlockType.ROAD">
      <div class="block" *ngFor="let road of roads">
        <p style="margin: 0 0 5px 0">{{road.name}}</p>
        <img (click)="blockTypeChange.emit(road)" [src]="road.image.src" [alt]="road.name">
        <p style="margin: 5px 0 0 0">${{road.price}}</p>
      </div>
      <div class="block"></div>
    </ng-container>
    <ng-container *ngIf="blockType === BlockType.BUILDING">
      <div class="block" *ngFor="let building of buildings">
        <p style="margin: 0 0 5px 0">{{building.name}}</p>
        <img (click)="blockTypeChange.emit(building)" [src]="building.image.src" [alt]="building.name">
        <p style="margin: 5px 0 0 0">${{building.price}}</p>
      </div>
    </ng-container>
  </div>
</div>
